/*!
 * Por Meilyn Garro
 * Los quiero a todos :D
 */
/*home img*/
#home {
	background: #2b4d5a;
	color:#fff;
}
#home #header {
	background: #fff url(../images/montes.png) right 125px no-repeat;
	height:230px;
	padding: 0;
	margin: 0;
	overflow:hidden;
}
#logo {
	background:url(../images/logo.png) top left no-repeat;
	width:210px;
	height:180px;
	position: absolute;
	top:50px;
	left:5%;
}
#ballenita {
	background:url(../images/ballenita.png) no-repeat;
	width:120px;
	height:90px;
	position: absolute;
	top:190px;
	left:55%;
}
#globo {
	background: url(../images/globo.png) no-repeat;
	width:100px;
	height:150px;
	position: absolute;
	top:60px;
	left:70%;
}
#nube1 {
	background: url(../images/nubes_01.png) no-repeat;
	width:275px;
	height:80px;
	position: relative;
	top:50px;
	left:60%;
}
#nube3 {
	background: url(../images/nubes_03.png) no-repeat;
	width:170px;
	height:80px;
	position: relative;
	top:10px;
	left:80%;
}
/*gekomachine img*/
#gekomachine {
	background: #ff6600 url(../images/gekomachine_bg.png) -200px -80px no-repeat fixed;
}
#gekomachine #bg {
	background: url(../images/tobegeko_06.png) 0 0 no-repeat fixed;
}
#gekomachine .border_dent {
	background: url(../images/home_border_07.png) left -10px repeat-x;
	overflow: hidden;
	margin: 0;
}
#gekomachine H1 {
	background: url(../images/tobegeko_03.png) top left no-repeat;
	width:177px;
	height:202px;
	max-width:177px;
	max-height:202px;
}
#gekomachine ul {
	margin-left:0px;
}
#gekomachine li {
	padding: 2%;
	margin: 15px 0;
	max-width:460px;
	float:right;
	list-style:none;
	clear: both;
	color:#2b4d5a;
	-moz-border-radius: 0 10px 0 10px;
	-webkit-border-radius: 0 10px 0 10px;
	/*background-color: rgb(255, 130, 0); Fallback for web browsers that doesn't support RGBa. */
	background-color: rgba(255, 130, 0, 0.90);/* RGBa with 0.6 opacity */
	background: transparent9; /* clear solid background for ie */
	zoom:1; /* required for the filters */
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#eeff8200, endColorstr=#eeff8200);/* For IE 5.5 - 7*/
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#eeff8200, endColorstr=#eeff8200)";/* For IE 8*/
}
/*team img*/
#team {
	background: url(../images/team_bg.png) repeat fixed;
}
#team H1 {
	background: url(../images/team_06.png) top left no-repeat;
	width: 264px;
	height: 126px;
}
/*#team #bg {
	background: url(../images/team_circles.png) 0 0 no-repeat;
	
}*/
#team ul {
	list-style:none;
	margin-left:0px;
	color: #fff;
}
#team h3 {
	color: #ffbd1d;
}
#team h4 {
	color: #ffe9b5;
}
#team li {
	display:inline-block;
	margin-bottom: 10px;
}
#alvivar {
	background: url(../images/team_10.png) left bottom no-repeat;
	height:231px;
	width:166px;
	float:left;
	margin-right:40px;
}
#alvivar p {
	background-color: #fff;
	color:#555;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border: #CCC solid 1px;
	padding:7px;
}
#alvivar_text{
	max-width:480px;
	}
#NenufarAzul {
	background: url(../images/zorro__03.png) no-repeat;
	position:relative;
	height:303px;
	width:181px;
	float: right;
	margin-left:40px;
}
#NenufarAzul:hover {
	background: url(../images/zorro_03.png) no-repeat;
}
#NenufarAzul p {
	background-color: #fff;
	color:#555;
	border: #CCC solid 1px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	padding:7px;
}
#NenufarAzul_text {
	max-width:480px;
	float:right;
}
#ryttuo{
 background:;
}
#ryttuo p {
	background-color: #fff;
	color:#555;
	border: #CCC solid 1px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	padding:7px;
	max-width:280px;
}
/*project img*/
#projects {
	background:/*#ffbd1d */ #fafafa url(../images/projects_bg.jpg) repeat;
	overflow:hidden;
}
#projects H1 {
	background: url(../images/projects_13.png) top left no-repeat;
	width:285px;
	height:197px;
}
#projects H3 {
	background: url(../images/projects/project_img.png) top center no-repeat;
	width:100%;
	height:233px;
}
#projects H3 span {
	display:none;
}
#projects H4 {
	margin:15px 0px;
}
#projects ul {
	list-style:none;
	margin:0px;
}
#projects li {
	list-style:none;
	margin:30px auto;
	padding:2%;
	max-width:800px;
	-moz-border-radius: 0 10px 0 10px;
	-webkit-border-radius: 0 10px 0 10px;
	/*background: rgb(255, 255, 255); Fallback for web browsers that doesn't support RGBa */
	background: rgba(255, 255, 255, 0.60);/* RGBa with 0.7 opacity */
	background: transparent9; /* clear solid background for ie */
	zoom:1; /* required for the filters */
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#aa99ffffff, endColorstr=#aaffffff);/* For IE 5.5 - 7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#aaffffff, endColorstr=#aaffffff)";/* For IE 8*/
}
#projects #bg {
	background: url(../images/projects_03.png) right -260px no-repeat fixed;
}
/*gekolab img*/
#gekolabs {
	background-color:#a2d33a;
	overflow:hidden;
}
#gekolabs #bg {
	background: url(../images/Lab_03.png) 20% top no-repeat fixed;
}
#gekolabs H1 {
	background: url(../images/Lab_06.png) top left no-repeat;
	width:376px;
	height:130px;
	max-width:376px;
	max-height:130px;
}
#gekolabs H3 {
	background: url(../images/projects/project_img.png) top center no-repeat;
	width:100%;
	height:233px;
}
#gekolabs H3 span {
	display:none;
}
#gekolabs H4 {
	margin:15px 0px;
}
#gekolabs ul {
	margin-left:0px;
}
#gekolabs li {
	padding: 2%;
	margin: 15px 0;
	max-width:460px;
	float:right;
	list-style:none;
	clear: both;
	-moz-border-radius: 0 10px 0 10px;
	-webkit-border-radius: 0 10px 0 10px;
	/*background: rgb(139, 180, 52); Fallback for web browsers that doesn't support RGBa */
	background: rgba(139, 180, 52, 0.90);/* RGBa with 0.6 opacity */
	background: transparent9; /* clear solid background for ie */
	zoom:1; /* required for the filters */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#dd8bb434, endColorstr=#dd8bb434)";/* For IE 8*/
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#dd8bb434, endColorstr=#dd8bb434);/* For IE 5.5 - 7*/
}
/*contact img*/
#contact {
	background:url(../images/contact_bg.png) repeat;
}
#contact H1 {
	background: url(../images/contact_06.png) top left no-repeat;
	width:253px;
	height:101px;
}
#contact #bg {
	background:url(../images/contact_03.png) 90% 0 no-repeat;
	max-width:1000px;
	height:500px;
}
/*Other*/
H1 span {
	display:none;
}
H1 {
	margin-top: 30px;
}
H4 {
	margin:0 0 10px 0;
	font-style:oblique;
	font-weight:500;
	font-size:0.9em;
}
element.style {
	background-position: 25% -76.05px;
}
